<div class="side1">
    <div id="detail">
        BOOK ID<br>
        <input type="text" placeholder="Enter the Book Id" required>
        <br><br>
        BOOK NAME<br>
        <input type="text" placeholder="Enter the Book Name" required>
        <br><br>
        BOOK AUTHOR<br>
        <input type="text" placeholder="Enter the Author Name" required>
        <br><br><br><br>

        <button class="btn btn-primary">Create</button>&nbsp;
        <button class="btn btn-success">Update</button>&nbsp;
        <button class="btn btn-danger">Delete</button>&nbsp;
        <button class="btn btn-warning">Find</button>&nbsp;
        <button class="btn btn-warning">Find All</button>&nbsp;
    </div>
</div>