<form #MYFORM="ngForm">
    <div class="side1">
        <div id="detail">
            BOOK ID<br>
            <input type="text" placeholder="Enter the Book Id" #bookId="ngModel" ngModel required pattern="[0-9]+">
 
          <div *ngIf="bookId.touched">
               <div *ngIf="bookId.errors?.['required']">
                   <b style="color:blue;">Book Id Required.</b>
                </div>
                <div *ngIf="bookId.errors?.['pattern']">
                 <b style="color: blue;">Invalid Book Id.</b>
                 </div>
          </div>
            <br><br>
            BOOK NAME<br>
            <input type="text" placeholder="Enter the Book Name" required #bookName="ngModel" ngModel required>
            <br><br>
            BOOK AUTHOR<br>
            <input type="text" placeholder="Enter the Author Name" required #bookAuthor="ngModel" ngModel required>
            
            <br><br><br><br>

            <button class="btn btn-primary" (click)="insertBook(MYFORM.value)">Create</button>&nbsp;
            <button class="btn btn-success">Update</button>&nbsp;
            <button class="btn btn-danger">Delete</button>&nbsp;
            <button class="btn btn-warning">Find</button>&nbsp;
            <button class="btn btn-warning">Find All</button>&nbsp;
        </div>
    </div>
</form>
